<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Study Space</title>
</head>

<body>
  <h1>Study Space</h1>

  <p><a href="/employee">Home Page</a></p>

  <form method="POST" action="/employee/remove/customer">
    <label>Add Customer ID: </label><br>
    <input type="customer_id" name="customer_id" required><br>

    {% if incorrect_details == "True" %}
    <p>No such customer exists.</p>
    {% endif %}
    {% if incorrect_details == "False" %}
    <p>Customer successfully expelled.</p>
    {% endif %}

    <p></p>
    <input type="submit" value="Submit">
  </form>
</body>

</html>