<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Study Space</title>
 </head>
 <body>
  <h1>Study Space</h1>

  <p><a href="/customer">Home Page</a></p>

  <form method="POST" action="/customer/profile">
    <label>Given Name: </label><br>
    <input type="text" name="givenName" value="{{customer['given_name']}}" readonly><br>

    <label>Last Name: </label><br>
    <input type="text" name="lastName" value="{{customer['last_name']}}" readonly><br>

    <label>Mobile: </label><br>
    <input type="number" name="mobile" maxlength="10" value="{{customer['mobile']}}"><br>

    <label>Email: </label><br>
    <input type="email" name="email" value="{{customer['email']}}"><br>

    <label>Address: </label><br>
    <input type="text" name="address" value="{{customer['address']}}"><br>

    <p></p>
    <input type="submit" value="Update Details">
  </form>

  {% if incorrect_details == "True" %}
   <p>Please fill correct details to udpate!</p>
  {% endif %}

  <p>Payment Details: {{customer['payment_details']}}</p>
  {% if customer['subscription_status'] == True %}
  <p>Subscription Status: Active</p>
  <p>Plan: {{subscription_name}}</p>
  <p><a href="/subscription">Switch Plans?</a></p>
  <form method="POST" action="/customer/cancel-subscription">
    <input type="submit" value="Cancel Subscription"/>
  </form>
  
  {% else %}
  <p>Subscription Status: Not Active</p>
  <p><a href="/subscription">Take a look at offered subscription plans</a></p>
  {% endif %}
 </body>
</html>