<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Study Space</title>
</head>

<body>
  <h1>Study Space</h1>
  <p><a href="/employee/profile">View Profile</a></p>
  <p><a href="/employee/add_publisher">Add a publisher</a></p>
  <p><a href="/employee/customers">View all customers</a></p>
  <p><a href="/employee/publishers">View all publishers</a></p>
  <p><a href="/employee/authors">View all authors</a></p>
  <p><a href="/employee/books">View all books</a></p>
  <p><a href="/employee/payments">View all payments</a></p>
  <p><a href="/employee/verify/author">Verify an author</a></p>
  <p><a href="/employee/remove/book">Remove a book</a></p>
  <p><a href="/employee/remove/customer">Remove a customer</a></p>



  <form method="POST" action="/employee/logout">
    <input type="submit" value="Logout">
  </form>

</body>

</html>