<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Study Space</title>
 </head>
 <body>
  <p><a href="/author">Home</a></p>

  <p>Note: Password should be atleast 5 characters allowing alpha-numeric and .@$ special characters</p>
  <form method="POST" action="/author/reset-password">
    <label>New Password</label><br>
    <input type="password" name="password"/><br>

    <label>Confirm New Password</label><br>
    <input type="password" name="confirm_password"><br>

    <p></p>
    <input type="submit" value="Update Password">
  </form>


  {% if incorrect_details %}
  <p>Please enter valid password details</p>
  {% endif %}

 </body>
</html>