<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Study Space</title>
 </head>
 <body>
  <h1>Study Space</h1>

  <p><a href="/customer/login">Customer Login</a></p>  
  <p><a href="/author/login">Author Login</a></p>
  <p><a href="/employee/login">Employee Login</a></p>

  <p><a href="/customer/signup">Register as new customer?</a></p>
  <p><a href="/author/signup">Register as new author?</a></p>

  <h3>Subscription Plans</h3>
  {% for subscription in subscription_plans %}
    <h3>Plan {{subscription['subscription_id']}}: {{subscription[subscription_name]}}</h3>
    <p>Cost: ${{subscription['subscription_cost']}}</p>
    <p>Description:</p>
    <p>{{subscription['description']}}</p>
  {% endfor %}

 </body>
</html>